<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391178289093-1tq445nqup6llkep9474f5grf08f94gv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391178289093-1tq445nqup6llkep9474f5grf08f94gv</string>
	<key>API_KEY</key>
	<string>AIzaSyC0QvPxMH8SXOmekkYjtl0zakfbEVXBji8</string>
	<key>GCM_SENDER_ID</key>
	<string>391178289093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mandartrip.mandarTrip</string>
	<key>PROJECT_ID</key>
	<string>mandar-trip-52249</string>
	<key>STORAGE_BUCKET</key>
	<string>mandar-trip-52249.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391178289093:ios:9d69910caae89b9071d5ac</string>
</dict>
</plist>